<div id="quick-panel-holder" class="clearfix">
	<div class="user-avatar">
		<img src="http://placehold.it/70" />
		<span><a href="#">修改头像</a></span>
	</div>
	<ul class="actions-list">
		<li><input id="image_upload" name="photo[image]" type="file" style="display:none" /></li>
		<li><a id="JMilestone" href="<%= new_baby_milestone_path @baby %>" class="milestone">里程碑</a></li>
		<li><a href="" class="say">说点什么</a></li>
	</ul>
</div>

<style type="text/css">
	#create-milestone .inputs-holder textarea {
		width:380px;
	}
</style>

<div id="milestone-dialog" class="jqmWindow round" style="display:none;border:none">
	<div id="create-milestone">
		<h2>创建里程碑 <a href="#" class="jqmClose">关闭</a></h2>
		<%= render 'milestones/form'%>
	</div>
</div>

<script>
	var openFadeIn=function(hash){ hash.w.fadeIn(); };
	var closeFadeOut = function(hash){ hash.w.fadeOut('2000',function(){ hash.o.remove(); }); };
	$('#milestone-dialog').jqm({modal:true, onShow:openFadeIn, onHide: closeFadeOut});
	$('#milestone-dialog').jqmAddTrigger("#JMilestone");

	$('#moment-dialog').jqm({modal:true, onShow:openFadeIn, onHide: closeFadeOut});
	$('#moment-dialog').jqmAddTrigger("#JMoment");
	$(function() {
		// Create an empty object to store our custom script data
		var uploadify_script_data = {};

		// Fetch the CSRF meta tag data
		var csrf_token = $('meta[name=csrf-token]').attr('content');
		var csrf_param = $('meta[name=csrf-param]').attr('content');

		// Now associate the data in the config, encoding the data safely
		uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
		
		// Associate the session information
		uploadify_script_data['<%= key = Rails.application.config.session_options[:key] %>'] = '<%= cookies[key] %>';
		
		
		
		$('#image_upload').uploadify({
		  'uploader'  : '/assets/uploadify.swf',
		  'script'    : '<%=upload_baby_photos_path(@baby)%>',
		  'scriptData': uploadify_script_data,
		  'cancelImg' : '/assets/cancel.png',
		  'auto'      : true,
			'multi'			: false,
			'buttonImg' : '/images/actions-moment.png',
			'width'			: 184,
			'height'		: 70,
			'fileDesc'	: 'Image Files',
			'fileExt'		: '*.jpg;*.jpeg;*.png;*.gif;*.bmp',
			'sizeLimit'	: 1024 * 1024,
			'onError'	: function(event, queueID, fileObj, errorObj){
				if( errorObj.status == 404 ){
					alert('上传地址错误，请联系管理员！');
				} else if( errorObj.status === 'HTTP' ){
					alert('错误 '+errorObj.type+": "+d.status);
				}else if( errorObj.type === 'File Size'){
					alert('图片大小限制为: ' + errorObj.info +' 字节');
				}else{
					alert('错误 '+errorObj.type+": "+errorObj.info);
				}
			},
			'onSelect' : function(event, data){
				alert(1);
				$('#uploadedPhoto').attr('src','${ctx}/images/loading.gif');
				$('#uploadedPhoto').attr('height','100%');
				if(!hasBaby){
					alert('请先注册宝宝');
					return false;
				}
			},
			'onComplete' : function(event, queueID, fileObj, response, data){
				alert(2);
				alert(response);
			}
		});
	});
	
	
</script>