<div id="quick-panel-holder" class="clearfix">
	<div class="user-avatar">
		<img src="http://placehold.it/70" />
		<span><a href="#">修改头像</a></span>
	</div>
	<ul class="actions-list">
		<li><a id="JMoment" href="#" class="moment">宝宝一刻</a></li>
		<li><a id="JMilestone" href="<%= new_baby_milestone_path @baby %>" class="milestone">里程碑</a></li>
		<li><a href="#" class="say">说点什么</a></li>
	</ul>
</div>

<style type="text/css">
	#create-milestone .inputs-holder textarea {
		width:380px;
	}
</style>

<div id="milestone-dialog" class="jqmWindow round" style="display:none;border:none">
	<div id="create-milestone">
		<h2>创建里程碑 <a href="#" class="jqmClose">关闭</a></h2>
		<%= render 'milestones/form'%>
	</div>
</div>

<div id="moment-dialog" class="jqmWindow round" style="display:none;border:none">
</div>

<script>
	var openFadeIn=function(hash){ hash.w.fadeIn(); };
	var closeFadeOut = function(hash){ hash.w.fadeOut('2000',function(){ hash.o.remove(); }); };
	$('#milestone-dialog').jqm({modal:true, onShow:openFadeIn, onHide: closeFadeOut});
	$('#milestone-dialog').jqmAddTrigger("#JMilestone");

	$('#moment-dialog').jqm({modal:true, onShow:openFadeIn, onHide: closeFadeOut});
	
	$(function() {
	  var uploader = new plupload.Uploader({
			runtimes: 'gears,html5,flash,silverlight,browserplus',
			browse_button: 'JMoment',
			max_file_size: '1mb',
			url: '<%=upload_baby_photos_path(@baby)%>',
			multipart_params: {
			  '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>',
			  '<%= key = Rails.application.config.session_options[:key] %>': '<%= cookies[key] %>'
			}
	  });
	  uploader.init();
		uploader.bind('FilesAdded', function(up, files) {
		  $('#moment-dialog').jqmShow();
		  $('#moment-dialog').html("<img src='/images/loading.gif' />");
		  up.refresh();
		  up.start();
		});
		
		uploader.bind('UploadProgress', function(up, file) {
		  $('#moment-dialog').html("<img src='/images/loading.gif' />");
		});
		
		uploader.bind('Error', function(up, err) {
		  $('#moment-dialog').append("<div>Error: " + err.code +
        ", Message: " + err.message +
        (err.file ? ", File: " + err.file.name : "") +
        "</div>"
      )
		  up.refresh();
		});
		
		uploader.bind('FileUploaded', function(up, file, info) {
		  $("#moment-dialog").html(info.response);
		})
	});
</script>