<h1>Listing babies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Nick name</th>
    <th>Birthday</th>
    <th>Sex</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @babies.each do |baby| %>
  <tr>
    <td><%= baby.name %></td>
    <td><%= baby.nick_name %></td>
    <td><%= baby.birthday %></td>
    <td><%= baby.sex %></td>
    <td><%= baby.user.email %></td>
    <td><%= link_to 'Show', baby %></td>
    <td><%= link_to 'Edit', edit_baby_path(baby) %></td>
    <td><%= link_to 'Destroy', baby, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Baby', new_baby_path %>
