<% @title = "照片" %>
<% @body_id = "baby_home" %>

<div id="container">
	<div id="left-content">
		<%= render "babies/quick_panel"%>
		<div id="feed-list" class="clearfix">
			<% @photos.each do |photo| %>
			<div class="feed">
				<div class="feed-content-holder pop">
					<div class="pop-content clearfix">
						<div class="feed-bd">
							<img class="img-thumb" src="<%= photo.image_url %>" />
							<div class="text-summary"><p><%= photo.description%></p></div>
							<div class="feed-date">记录日期：<%= photo.created_at%></div>
							<div class="feed-act"><%= link_to "删除", baby_photo_path(@baby, photo), :confirm => "是否确认删除？", :method => :delete %> | <a href="">编辑</a></div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<%= render :partial => "babies/right_column" %>
</div>