<% @title="Timeline" %>

<p>
  <strong>Title:</strong>
  <%= @timeline.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @timeline.description %>
</p>
<p>
  <strong>Status:</strong>
  <%= @timeline.status %>
</p>
<p>
  <strong>User:</strong>
  <%= @timeline.baby.user.email %>
</p>
<p>
  <strong>Baby:</strong>
  <%= @timeline.baby.nick_name %>
</p>

<p>
  <%= link_to "Edit", edit_timeline_path(@timeline) %> |
</p>
