<div id="footer">
<%= link_to t("maitianer"), root_path %> ©2011 浙ICP备10217266号 
<%= link_to t("pages.about"), about_path %>
<%= link_to t("pages.contact"), contact_path %>
<%= link_to t("pages.service"), service_path %>
<%= link_to t("pages.privacy"), privacy_path %>
</div>