<div id="header">
	<div id="header-wrap">
		<h1 class="logo">
		  <a href="/" title="麦田儿">麦田儿</a>
		</h1>
		<ul id="nav">
			<% if user_signed_in? && current_user.first_baby %>
			<li class="<%= action?('home')?'current':'' %>"><%= link_to '我的主页', home_path %></li>
			<li class="<%= controller?('babies')?'current':'' %>"><%= link_to current_user.first_baby.nick_name, current_user.first_baby %>
			<% end %>
			<li><a href="">宝宝秀</a></li>
			<li><a href="">礼品堂</a></li>
		</ul>
		<div id="right-menu-holder">
			<ul id="right-menu">
				<li><a href="">邀请</a></li>
				<li><a href="">手机</a></li>
				<% if user_signed_in? %>
				<li><%= link_to "设置", edit_user_registration_path %></li>
				<li><%= link_to "退出", destroy_user_session_path %></li>
				<% else %>
				
				<li><%= link_to "登录", new_user_session_path %></li>
				<% end %>
				
			</ul>
		</div>
	</div>
</div>